@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1536px;
  width: 58.2%; 
  margin: 0 auto;
}

/* header styling  */
h3 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
/*=================================
  Header styling starts here
=================================*/

header {
  padding: 17px 0;
}

header .wrapper {
  width: 96.9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham {
  display: none;
}

.menus {
  margin-left: 1%;
  flex-basis: 38.1%;
}

.menus ul {
  display: flex;
  justify-content: space-between;
}

.menus ul li a {
  color: rgb(0,0,0,0.8);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
}

.menus ul li a:hover {
  color: #ffa500;
}

.header-icons {
  margin-right: 0.4%;
  display: flex;
  justify-content: space-between;
  flex-basis: 4.6%;
    
}

.header-icons li a {
  text-indent: -9999px;
}

.header-icons li a::before {
  content: "\f230";
  float: right;
  color: #ffa500;
  font-size: 13px;
  font-family: "fontAwesome";
  text-indent: 0;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
}

.header-icons li:nth-child(2) a::before {
  content: "\f099";
}

.header-icons li:nth-child(3) a::before {
  content: "\f0e1";
}

.header-icons li:nth-child(4) a::before {
  content: "\f16d";
}

.header-icons li a:hover:before {
  color: rgb(0,0,0,0.8);
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styling start  */

  .banner .wrapper {
    width: 100%;
    position: relative;
  }

  .banner-content {
    width: 50%;
    position: absolute;
    bottom: 43px;
    right: 0;
  }

  .sunlife {
    padding: 18px;
    background-color: #F6623A;
    color: rgb(255,255,255,0.7);
  }

  .banner h2 {
    color: rgb(255,255,255,0.7);
    font-size: 15px;
  }

  .sunlife p {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .read-more {
    padding: 10px 22px;
    margin-top: 17px;
    color: #ffa500;
    background: #fff;
    font-size: 10px;
    font-weight: bold;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
  }

  .read-more:hover {
    color: rgb(0,0,0,0.8);
  }

/* banner styling end  */
/* how can we help you start  */

.how-can-we-help-you {
  padding: 65px 0;
}

.how-can-we-help-you .wrapper {
  width: 100%;
  position: relative;
}

  .how-can-we-help-you h3{
    font-weight: bold;
    text-align: center;
  }

  .how-can-we-help-you .wrapper p {
    width: 59.3%;
    margin: 38px auto;
    color: rgb(0,0,0,0.9);
    font-size: 14px;
    text-align: center;
    line-height: 23px;
  }

  .captcha {
    width: 45px;
    height: 51px;
    position: absolute;
    right: 0;
    bottom: -57px;
  }

  .captcha:hover > .captcha-contents {
    display: block;
  }

  .captcha-contents {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 9px;
    background-color: #fff;
    opacity: 0.5;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
  }

  .captcha-contents:hover {
    color: #ffa500;
  }

/* how can we help you end  */
/* our services start  */

.our-services {
  padding: 13px 0 67px;
}

  .our-services-icons {
    margin-top: 62px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
  }

  .service-item {
    flex-basis: 20%;
    text-align: center;
  }

  .service-item a {
    color: rgb(0,0,0,0.7);
    font-weight: bold;
    font-size: 14px;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
  }

  .service-item a:hover {
    color: #ffa500;
  }

  .service-item a::before {
    content: "\f0eb";
    margin-bottom: 31px;
    display: block;
    color: #ffa500;
    font-family: "fontAwesome";
    font-size: 96px;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
  }

  .service-item a:hover::before {
    color: rgb(0,0,0,0.8);
  }

  .service-item:nth-child(2) a::before {
    content: "\f028";
  }

  .service-item:nth-child(3) a::before {
    content: "\f002";
  }

  .service-item:nth-child(4) a::before {
    content: "\f10a";
  }

  .service-item:nth-child(5) a::before {
    content: "\f201";
  }

  .service-item:nth-child(6) a::before {
    content: "\f080";
  }

  .service-item:nth-child(7) a::before {
    content: "\f040";
  }

  .service-item:nth-child(8) a::before {
    content: "\f07a";
  }

  .service-item:nth-child(9) a::before {
    content: "\f0eb";
  }

  .service-item:nth-child(10) a::before {
    content: "\f061";
  }

/* our services end  */
/* our latest work start  */

  .our-latest-work {
    background-color: #F0F0F0;
  }

/* our lastest work end  */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

header .wrapper {
  flex-direction: column;
  row-gap: 20px;
}

.menus {
  width: 95%;
}

.header-icons {
  width: 15%;
}

}  